.plusMinus {
  display: flex;
  width: 100%;
  height: 12%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2%;
}

.plusMinus button {
  all: unset;
  border: solid 0.05rem rgb(197, 194, 192);
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  margin: 2%;
}

.addSet:hover {
  background-color: rgb(123, 167, 217);
}

.subtractSet:hover {
  background-color: #e35d5d;
}
