.container {
  width: 15rem;
  height: 40vh;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin: 2%;
  background-color: rgb(248, 250, 252);
  box-shadow: 1rem 0.5rem 2rem 0.05rem rgba(0, 0, 0, 0.3);
}

.addAnother {
  all: unset;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 78%;
  width: 83%;
  border-radius: 1.4rem;
}

.addAnother:hover {
  transform: scale(1.5);
  background-color: rgba(129, 247, 94, 0.6);
}

.workoutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.workoutName {
  font-size: 200%;
  height: 20%;
  width: 100%;
}

.workoutName input {
  height: 50%;
  width: 100%;
  text-align: center;
  font-size: 80%;
  border: rgb(197, 194, 192) solid 0.07rem;
  border-radius: 0.5rem;
  outline: none;
}

.workoutData {
  width: 120%;
  height: 70%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titles {
  width: 89%;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  justify-content: space-between;
  margin-bottom: 2%;
}

.topBar {
  width: 100%;
  margin: 5%;
  justify-content: right;
  display: flex;
}

.removeWorkout {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  border: rgb(197, 194, 192) solid 0.07rem;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 3rem;
}

.removeWorkout:hover {
  background-color: #e35d5d;
}
